.padre {
    background-color: yellow;
    display: flex;flex-wrap: wrap;
    justify-content: start;
    width: 100%;
    height:100%;
}
.hijo1 {
    background-color: red;
    display: flex;
    width: 350px;
    height: 350px;
}

.hijo2 {
    background-color: blue;
    display: flex;

    width: 350px;
    height: 350px;
}

.hijo3 {
    background-color: green;
    display: flex;
    width: 350px;
    height: 350px;
}
.hijo4 {
    background-color: red;
    display: flex;
    width: 350px;
    height: 350px;
}

.hijo5 {
    background-color: blue;
    display: flex;
    width: 350px;
    height: 350px;
}

.hijo6 {
    background-color: green;
    display: flex;
    width: 350px;
    height: 350px;
}
.hijo7 {
    background-color: red;
    display: flex;
    width: 350px;
    height: 350px;
}

.hijo8 {
    background-color: blue;
    display: flex;
    width: 350px;
    height: 350px;
}

.hijo9 {
    background-color: green;
    display: flex;
    width: 350px;
    height: 350px;
}